* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.display {
  background: black;
}


.blue {
  background: blue;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.pink {
  background: pink;
}
.black {
  background: black;
  color: white;
}
